.containerSkills{

    width: 100%;
    height: 100vh;
    margin-top: 345%;
}

.p-skills{

    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    color: #CCCCCC;
    
}


.skills {

    display: flex;
    justify-content: center;
}

.skills2 {

    display: flex;
    justify-content: center;
}

.p-2-skills {

    left: 19.47%;
    right: 21.07%;
    top: 31.63%;
    bottom: 62.07%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    display: flex;
    justify-content: center;

    color: #CCCCCC;
}

.img-css, 
    .img-git, 
        .img-github, 
            .img-html, 
                .img-js,
                    .img-servers,
                        .img-react, 
                            .img-bootstrap,
                                .img-scrum {
    
    width: 100px;
    height: 50px;
    margin-top: 2%;
}

.iconImg {

    margin-top: 10%;
    display: flex;
    justify-content: center;
 
}


li {
    list-style-type: none;
}